<!DOCTYPE html>
<html lang="en">
<head>
    {{header}}
    <link rel="stylesheet" href="login.css">
    <title>LOGIN</title>
</head>
<body>
    <h1>DLSU-CONNECT</h2>
    <div class="container">
        <h2>Sign in to your account</h2>
        <form id="login-form">
            <input type="text" id="username" placeholder="Username" required>
            <input type="password" id="password" placeholder="Password" required>
            <button type="submit">Sign In</button>
        </form>
        <div class="end">Don't have an account yet? <a href="register.html">Register</a></div>
    </div>
    

    <script src="login.js"></script>
</body>
</html>