<!DOCTYPE html>
<html lang="en">
<head>
{{header}}
<link rel="stylesheet" href="index.css">
<title>HOME</title>
</head>
<body>
<div class="container">

  <div class="left-side">
    <div class="navbar">
      <div id="logo">DLSU - Connect</div>
      <div class="side-button"><img src="home.png" class="navimg">Home</div>
      <div class="side-button"><img src="notif.png" class="navimg">Notification</div>
      <div class="side-button"><img src="bookmark.png" class="navimg">Bookmarks</div>
      <div class="side-button"><img src="profile.png" class="navimg">Profile</div>
      <div id="signin" class="navbtn"><a href="index.html">SIGN OUT</a></div>
    </div>
    <div class="userbar">
        <div class="userpfpholder"><div class="userbarpfp"><img src="nya.jpeg" class="userpfpimg"></div></div>
        <div class="user-info">
            <div class="user-name">Brent Leomarc Rivera</div>
            <div class="user-tag">@randomstudents</div>
            
        </div>
    </div>
  </div>



  <div class="middle">
    <div class="submit-area">
      <div class="top-submit">Home</div>
      <div class="middle-submit-login">
        <div class="userpfpholder"><div class="userpfp"><img src="nya.jpeg" class="userpfpimg"></div></div>
        <div class="usertext"><input type="text" placeholder="What's on your amazing mind?" id="middle-input"></div>
    </div>
      <div class="bottom-submit">
        <div class="bs-left">
          <img src="postimg.png" class="bsimg">
          <img src="postgif.png" class="bsimg">
          <img src="postemoji.png" class="bsimg">
          <img src="postcalendar.png" class="bsimg">
        </div>
        <div class="bs-right">SEEK ATTENTION</div>
      </div>
    </div>
    <div class="divider">
    </div>


    <div class="post-area">

      <div class="post">
        <div class="post-top">&heartsuit; Brent Soan and Carlos Rivera liked</div>
        <div class="post-middle">
          <div class="post-imgparent"><div class="post-imgholder"><img src="art.jpg" class="post-img"></div></div>
          <div class="post-itself">
            <div class="post-info">Art Caronongan <span class="info-handle">@annlover &#x2022; 1 min</span></div>
            <div class="post-text">I'm thinking of giving this group a perfect grade for MC01!</div>
          </div>
        </div>
        <div class="post-bottom">
          <div class="post-icons"><img src="comment.png" class="actual-posticon"><div class="count">0</div></div>
          <div class="post-icons"><img src="like.png" class="actual-posticon"><div class="count">3</div></div>
          <div class="post-icons"><img src="forward.png" class="forward-icon"></div>

        </div>
      </div>

      <div class="post">
        <div class="post-top">&heartsuit; Leomarc (e/acc) and Kenzo Tenma liked</div>
        <div class="post-middle">
          <div class="post-imgparent"><div class="post-imgholder"><img src="johan.png" class="post-img"></div></div>
          <div class="post-itself">
            <div class="post-info">Johan Liebert <span class="info-handle">@geniuskiller &#x2022; 5 min</span></div>
            <div class="post-text">The only thing humans are equal in is Death.</div>
            <!--<div class="post-img"><img src="ALLMIGHT.jpg" class="post-pfp"></div>-->
          </div>
        </div>
        <div class="post-bottom">
          <div class="post-icons"><img src="comment.png" class="actual-posticon"><div class="count">20</div></div>
          <div class="post-icons"><img src="like.png" class="actual-posticon"><div class="count">511</div></div>
          <div class="post-icons"><img src="forward.png" class="forward-icon"></div>
        </div>
      </div>

      <div class="post">
        <div class="post-top">&heartsuit; Nunnaly liked</div>
        <div class="post-middle">
          <div class="post-imgparent"><div class="post-imgholder"><img src="lelouch.jpg" class="post-img"></div></div>
          <div class="post-itself">
            <div class="post-info">L.L. <span class="info-handle">@lelouchlamperouge &#x2022; 8 min</span></div>
            <div class="post-text">I am still alive.</div>
            <!--<div class="post-img"><img src="ALLMIGHT.jpg" class="post-pfp"></div>-->
          </div>
        </div>
        <div class="post-bottom">
          <div class="post-icons"><img src="comment.png" class="actual-posticon"><div class="count">142</div></div>
          <div class="post-icons"><img src="like.png" class="actual-posticon"><div class="count">3421</div></div>
          <div class="post-icons"><img src="forward.png" class="forward-icon"></div>
        </div>
      </div>

      <div class="post">
        <div class="post-top">&heartsuit; Charlie and Nifty liked</div>
        <div class="post-middle">
          <div class="post-imgparent"><div class="post-imgholder"><img src="alastor.png" class="post-img"></div></div>
          <div class="post-itself">
            <div class="post-info">Alastor <span class="info-handle">@radiodemon &#x2022; 9 min</span></div>
            <div class="post-text">Let's begin. I'm gonna make you wish that I'd stayed gone. Tune on in! </div>
            <!--<div class="post-img"><img src="ALLMIGHT.jpg" class="post-pfp"></div>-->
          </div>
        </div>
        <div class="post-bottom">
          <div class="post-icons"><img src="comment.png" class="actual-posticon"><div class="count">12</div></div>
          <div class="post-icons"><img src="like.png" class="actual-posticon"><div class="count">431</div></div>
          <div class="post-icons"><img src="forward.png" class="forward-icon"></div>
        </div>
      </div>

      <div class="post">
        <div class="post-top">&heartsuit; Midoriya liked</div>
        <div class="post-middle">
          <div class="post-imgparent"><div class="post-imgholder"><img src="todoroki.jpg" class="post-img"></div></div>
          <div class="post-itself">
            <div class="post-info">Todoroki Shoto <span class="info-handle">@hotandcoldguy &#x2022; 11 min</span></div>
            <div class="post-text">It's Not Your Fault, We're Just Playing On Different Levels. </div>
            <!--<div class="post-img"><img src="ALLMIGHT.jpg" class="post-pfp"></div>-->
          </div>
        </div>
        <div class="post-bottom">
          <div class="post-icons"><img src="comment.png" class="actual-posticon"><div class="count">2</div></div>
          <div class="post-icons"><img src="like.png" class="actual-posticon"><div class="count">63</div></div>
          <div class="post-icons"><img src="forward.png" class="forward-icon"></div>
        </div>
      </div>


    </div>

  </div>



  <div class="right-side">
    <div class="search-bar">
      <img src="search.png" id="searchicon"><input type="text" id="right-input" name="right-input" placeholder="Search DLSU-Connect">
    </div>
    <div class="follow-people">
      <div class="follow-title">Who to Follow</div>


      <div class="follow-suggestions">
        <div class="fs-profile">
          <div class="fs-pfpholder"><div class="fs-pfp"><img src="art.jpg" class="rs-img"></div></div>
          <div class="fs-info">
            <div class="fs-name">Art Caronongan</div>
            <div class="fs-tag">@annlover</div>
          </div>
        </div>
        <div class="fs-btn">Follow</div>
      </div>

      <div class="follow-suggestions">
        <div class="fs-profile">
          <div class="fs-pfpholder"><div class="fs-pfp"><img src="lmrc.jpg" class="rs-img"></div></div>
          <div class="fs-info">
            <div class="fs-name">Leomarc (e/acc)</div>
            <div class="fs-tag">@unemployedgenius</div>
          </div>
        </div>
        <div class="fs-btn">Follow</div>
      </div>




      <div class="fs-more">Show more</div>
    </div>
    <div class="follow-topic">
      <div class="topic-title">Topics to Follow</div>


      <div class="topic-suggestions">
        <div class="topic-info">
          <div class="topic-name">UX Design</div>
          <div class="topic-type">Website Development</div>
        </div>
        <div class="fs-btn">Follow</div>
      </div>

      <div class="topic-suggestions">
        <div class="topic-info">
          <div class="topic-name">Technology</div>
          <div class="topic-type">All about Science</div>
        </div>
        <div class="fs-btn">Follow</div>
      </div>

      <div class="topic-suggestions">
        <div class="topic-info">
          <div class="topic-name">Emperor Arcana</div>
          <div class="topic-type">Persona Nerds</div>
        </div>
        <div class="fs-btn">Follow</div>
      </div>

      <div class="topic-more">Show more</div>
    </div>
  </div>
</div>
<script src="script.js"></script>
</body>
</html>